.fix{
  left: 75% !important;
  bottom: 4% !important;
}
.top-b{
  bottom: 4% !important;
  left: 20px !important;
  background-color: black;
  width: 50px !important;
  height: 50px !important;
  display: inline-block;
  text-align: center;
  border-radius: 120px;
}
.img-home{
  display: block;
}
.vertical{
  display: none;
}
.contact{
  border-radius: 15px;
}
div{
  font-size: 0.7rem;
}
strong{
  font-size: 1.3rem;
}
.card{
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.row{
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.card-body{
  padding: 0.15rem;
}
.card-body .card{
  width: 100%;
  margin: auto;
}
.llavero-img{
  width: 137;
}